*.swp
Makefile
config.h
config.log
config.status
src/.deps/
src/Makefile
stamp-h1
src/examplecprj
src/main.o
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.h.in
configure
configure.scan
depcomp
install-sh
missing
src/Makefile.in
config.h.in~
